body {
  font-family: Constantia;
}
.search-flight {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-flight h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.search-flight form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.search-flight .form-group {
  display: flex;
  flex-direction: column;
}

.search-flight label {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.search-flight input[type="text"],
.search-flight input[type="date"],
.search-flight input[type="number"],
.search-flight select {
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #ccc;
}

.search-flight button[type="submit"] {
  padding: 20px 20px;
  font-size: 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-bottom: 4px solid red;
  border-radius: 1px;
  font-weight: bold;
  cursor: pointer;
}

.search-flight button[type="submit"]:hover {
  background-color: white;
  color: red;
}

.search-result {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-result h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.deal-card-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.deal-cards {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
}

.deal-card {
  position: relative;
  flex: 0 0 auto;
  margin-right: 10px;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 250px;
  padding: 10px;
  /* background-color: white; */
  border-radius: 1px;
}

.deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(0.7) blur(1px); */
}

.deal-card h4 {
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.deal-card p {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 5%;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* Stylish CSS for Featured Deals section */
.deals {
  margin-top: 40px;
}

.deals h3 {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.deal-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: scroll;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  color: red;
  border-radius: 4px;
}

/* Loading Animation */
.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading-animation .spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #333;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.loading-animation span {
  font-size: 16px;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add responsive styles */
@media screen and (max-width: 400px) {
  .deal-card h4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 90%;
  }

  .deal-card p {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: -1%;
    right: 0%;
    color: #fff;
    font-size: 8px;
    text-align: center;
  }
  .deal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7) blur(1px);
  }
}

@media screen and (max-width: 768px) {
  .deal-cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .deal-card {
    width: 80%;
  }
  .deal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.7) blur(1px); */
  }
  /* .deal-card h4 {
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .deal-card p {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: -20%;
    right: 0%;
    color: #fff;
    font-size: 15px;
    text-align: center;
  } */
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}
